acres
annotated-types
anyio
asgiref
blis
cachetools
catalogue
certifi
charset-normalizer
ci-info
click
cloudpathlib
colorama
confection
configobj
configparser
cymem
Django
django-widget-tweaks
docx2txt
etelemetry
filelock
filetype
PyMuPDF
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
importlib_resources
Jinja2
jsonpatch
jsonpointer
langchain
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
looseversion
lxml
marisa-trie
markdown-it-py
MarkupSafe
mdurl
murmurhash
networkx
nibabel
nipype
numpy
orjson
packaging
pandas
pathlib
phonenumbers
preshed
proto-plus
protobuf
prov
puremagic
pyasn1
pyasn1-modules
pydantic
pydantic-core
pydot
Pygments
pyparsing
pypdf
python-dateutil
pytz
pyxnat
PyYAML
rdflib
requests
requests-toolbelt
rich
rsa
shellingham
simplejson
six
smart_open
sniffio
SQLAlchemy
sqlparse
srsly
tenacity
thinc
tqdm
traits
typer
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
wasabi
weasel
wrapt
zstandard
google-genai
selenium
webdriver-manager
PyPDF2
python-docx
spacy
gunicorn
sentence-transformers
