# Django framework
Django
gunicorn
django-widget-tweaks
sqlparse

# Templating & rendering
Jinja2
MarkupSafe

# File handling
PyMuPDF
PyPDF2
python-docx
docx2txt
filetype
pypdf

# HTTP / APIs
requests
httpx
urllib3
httpcore
certifi
charset-normalizer
idna

# Google API (if used)
google-api-python-client
google-auth
google-auth-httplib2
google-api-core
googleapis-common-protos
google.generativeai

# Utilities
python-dateutil
PyYAML
pydot
tqdm
rich
colorama
click
wrapt

# Parsing / Serialization
pydantic
pyparsing
typing-extensions
typing-inspection

# Other
pathlib
tzdata
pytz

# Selenium if using browser automation
selenium
webdriver-manager
phonenumbers
pandas

# AI / NLP
numpy
spacy
sentence-transformers
langchain
langchain-google-genai
reportlab
huggingface_hub




