# Django framework
Django
gunicorn
django-widget-tweaks
sqlparse

# Templating & rendering
Jinja2
MarkupSafe

# File handling
PyMuPDF
PyPDF2
python-docx
docx2txt
filetype

# HTTP / APIs
requests
httpx
urllib3
httpcore
certifi
charset-normalizer
idna

# Google API (if actually used)
google-api-python-client
google-auth
google-auth-httplib2
google-api-core
googleapis-common-protos

# Utilities
python-dateutil
PyYAML
pydot
tqdm
rich
colorama

# Parsing / Serialization
pydantic
pyparsing
typing-extensions
typing-inspection

# Other
pathlib
tzdata
pytz
click
wrapt

# Selenium if using browser automation
selenium
webdriver-manager
google.generativeai
phonenumbers
pandas
numpy
pypdf
langchain-google-genai
langchain
#spacy
sentence-transformers
reportlab
spacy==3.6.1



